body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background-color: rgba(240, 255, 255, 0.7);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.bayan {
    max-width: 500px;
    margin: 20px auto;
    transition: all .3s ease-out;
    color: rgb(13, 196, 135);
}

.bayan:hover {
    color: black;
}

.bayan:hover .bayan-icon {
    visibility: visible;
    opacity: 1;
}

.bayan-item {
    border: 2px solid rgba(33, 192, 139, 0.5);
    border-radius: 0.4rem;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.bayan-item:hover > .bayan-meme {
    transform: scaleY(1);
    max-height: 20rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bayan-item:hover > .bayan-icon {
    background-image: url(assets/svg/circle-check-regular.svg);
}

.bayan-title {
    display: block;
    cursor: pointer;
    padding: 1rem;
    transition: all .3s ease-out;
    flex-basis: 85%;
    margin: 0;
}

.bayan-input {
    appearance: none;
    display: none;
    width: 0;
    height: 0;
}

.bayan-input:checked ~ .bayan-meme {
    transform: scaleY(1);
    max-height: 20rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bayan-input:checked ~ .bayan-title {
    color: black;
}

.bayan-input:checked ~ .bayan-icon {
    background-image: url(assets/svg/circle-check-regular.svg);
}

.bayan-item:active > .bayan-meme {
    box-shadow: .2rem .2rem rgb(0, 80, 24, .8), -1em 0 .4em rgb(1, 165, 42, .6);
    opacity: .8;
    color: rgb(13, 196, 135);
}

.bayan-item:active > .bayan-icon {
    background-image: url(assets/svg/circle-check-colored.svg);
}

.bayan-item:active > .bayan-title {
    color: rgb(13, 196, 135);
}

.bayan-icon {
    content: "";
    width: 1rem;
    height: 1rem;
    background-image: url(assets/svg/circle-regular.svg);
    margin: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-out;
}

.bayan-meme {
    width: auto;
    height: auto;
    max-width: 70%;
    font-size: 1.4rem;
    padding: 0;
    transition: all .3s ease-out;
    transform: scaleY(0);
    max-height: 0;
    margin: auto;
}